var BobbingBoat = React.createClass({

  render: function () {
    return ( <div>
              <div id="bobbing-boat" className="bobbing">
                  <img src="<%= asset_path 'boat2.png' %>" />
                  <img id="waves-pic" src="<%= asset_path 'waves.png' %>" style={{display: "none"}} />
              </div>

            </div>
    );
  }
});
