var BobbingBoat = React.createClass({
  render: function () {
    return (
      <div id="bobbing-boat" className="bobbing">
        <img src="<%= asset_path 'boat2.png' %>"
      </div>
    );
  }
});
