body {
	background-color: #89ACC0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;

}

#main-nav {
  background: #476373;

}

.screenContent {
  padding-top: 20px;
}


.sun-icon {
  height: 40px;
  width: 40px;
  margin-top: 7px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width: 100%;
  position: relative;
}

.valign-wrapper {
  height: 53vh;
}

#home-buttons {
  text-align: center;
}

.home-button {
  background-color: #736757 !important;
  margin-bottom: 20px;
  display: inline-block;
}

#build-button {
  display: block;
  text-align: center;
}

#start-button {
  display: block;
  text-align: center;
}

#end-button {
  display: block;
  text-align: center;
}

.placeholder-icon {
  padding: 10px 0px 0px 10px;
  width: 15%;
  height: 80%;
}

