body {
	background-color: #eee;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

#main-nav {
  background: #476373;
}

.screenContent {
  padding-top: 20px;
}

.splash-screen {
  text-align: center;
}

.sun-icon {
  height: 40px;
  width: 40px;
  margin-top: 7px;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width: 100%;
  position: relative;
}

.valign-wrapper {
  height: 53vh;
}

.valign {
  margin: 0 auto;
}

#home-buttons .home-button {
  background-color: #476373;
  margin: 20px auto;
  display: block;
}

#currents-save-button .save-button {
  background-color: #476373;
  margin: 20px auto;
  display: block;
  margin-top: -140px;
}

#start-day-button .start-day {
  background-color: #476373;
  margin: 20px auto;
  display: block;
  margin-top: -140px;
}

#login-button .login {
  background-color: #476373;
  margin: 20px auto;
  display: block;
  margin-top: -140px;
}

#registration-button .register {
  background-color: #476373;
  margin: 20px auto;
  display: block;
  margin-top: -140px;
}

#build-button .build {
  background-color: #476373;
  margin: 20px auto;
  display: block;
  margin-top: -140px;
}


.placeholder-icon {
  padding: 10px 0px 0px 10px;
  width: 15%;
  height: 80%;
}

#goodnight-message {
  color: white;
}

.errors {
  text-align: center;
}
