#main-nav {
	background: #2F77D9;

}

.sun-icon {
	height: 40px;
	width: 40px;
	margin-top: 7px;
}

body {
	background-color: #C2E2F2;
}


.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#home-button {
  background-color: #8BA9BF;
}

#goodnight-message {
  color: white;
}
