<!DOCTYPE html>
<html>
<head>
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>GoodDayMate</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul className="collection">
		<li className="collection-item dismissable"><div>Alvin<a href="#!" className="secondary-content"><i className="material-icons">send</i></a></div></li>
		<li className="collection-item dismissable"><div>Alvin<a href="#!" className="secondary-content"><i className="material-icons">send</i></a></div></li>
		<li className="collection-item dismissable"><div>Alvin<a href="#!" className="secondary-content"><i className="material-icons">send</i></a></div></li>
		<li className="collection-item dismissable"><div>Alvin<a href="#!" className="secondary-content"><i className="material-icons">send</i></a></div></li>
	</ul>
<%= yield %>

</body>
</html>
